@model List<FaturaBilgi>

<div class="row" style="border-radius: 10px;">
    <h6 class="text-bg-success fw-semibold" style="margin-left:5px"> @ViewBag.KategoriAd İçin Sonuçlar <b>@Model.Count</b> Adet Fatura Bulundu </h6>
    @if (Model.Count > 0)
    {
@foreach (var item in Model)
{
<div class="col-md-12">
    <div class="card m-lg-1 mb-1 position-relative" style="background-color: #d2eeca;">
        @*<img src="/img/@item.Resim" class="card-img-top" alt="Resim Yok">*@
        <div class="card-body">
            @*<h4 class="card-title">Türk Telekom Telekomünikasyon</h4>*@
            <h4 class="card-title">@item.Aciklama</h4>
            <h5 class="card-title">@item.Ad</h5>
          

            <a asp-action="FaturaDetay" asp-controller="Home"
               asp-route-id="@item.Id" class="btn btn-success float-right">Detay Göster</a>
            <br>
            @if (item.FaturaOdendiMi == true)
            {
<div class="position-absolute d-flex justify-content-center align-items-center" style="top:15px; right:15px">
    <b class="mx-1">ÖDENDİ</b>  <i style="color:#2a8758" class="fas fa-check fa-2x"></i>
</div>}
            @if (item.FaturaOdendiMi == false)
            {
<div class="position-absolute d-flex justify-content-center align-items-center" style="top:15px; right:15px">
    <b class="mx-1">ÖDENMEDİ</b>  <i style="color:orangered" class="fas fa-xmark fa-2x "></i>
</div>}
            <div class="position-absolute d-flex justify-content-center align-items-center" style="bottom:15px; right:25px">
                <p class="card-text"><h5>Tutar: @item.Fiyat  TL</h5></p>
            </div>

        </div>
    </div>
</div>} }
else
{
<div class="alert alert-info text-center">
    Görüntülenecek Kayıt Bulunamadı.
</div>}
</div>