@model FaturaBilgi
    <div class="container" >
        <div class="row" >
            <!--<div class="col-md-3">-->
                @*<img src="/img/@Model.Resim" class="w-100 img-thumbnail img-fluid" alt="@Model.Ad" />*@
            <!--</div>-->
            <div class="col-md-14" > 
                <div class="card" style=" background-color: #d1f5f6;">
                    <div class="card-header"  style=" background-color: #b4e9ea; box-shadow:0px 6px 15px #25a8c2;" >
                        <h4>@Model.Aciklama</h4> 
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Model.Ad</h5>
                        <p class="card-text">
                            <strong>Fatura Kategorisi:</strong> <getirKategoriAd fatura-id="@Model.Id"></getirKategoriAd>
                            <br />
                           
                        </p>
                        <div class="position-absolute d-flex justify-content-center align-items-center" style="top:10px; right:25px">
                            <p class="card-text"><h5>Tutar: @Model.Fiyat  TL</h5></p>
                        </div>
                        @if (Model.FaturaOdendiMi == false)
                        {
                    <a asp-action="EkleSepet" asp-controller="Home" asp-route-id="@Model.Id" class="btn mx-1 float-end" style="background-color:#0d8fa9; color:white">Faturayı Sepete Ekle</a>}
                        <a asp-action="Index" asp-controller="Home" class="btn btn-danger
                        float-end ">Geri Dön</a>

                    </div>
                </div>
            </div>

        </div>
    </div>

